@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-picker-position {
  top: 24px;
  right: 24px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.clipper-circle {
  position: absolute;
  height: 600px;
  width: 99vw;
  top: 0;
  clip-path: circle(96% at 50% -164%);
}

.burst-12-container {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 16px;
  left: -120px;
}

.burst-12 {
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
}
.burst-12:before,
.burst-12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  background: inherit;
}
.burst-12:before {
  transform: rotate(30deg);
}
.burst-12:after {
  transform: rotate(60deg);
}

.hollow-square-container {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 100px;
  right: -110px;
  transform: rotate(45deg);
}

.hollow-square {
  height: 80px;
  width: 80px;
  position: relative;
}

.hollow-square:after {
  content:'';
  position:absolute;
  top:10px;
  left:10px;
  width:60px;
  height:60px;
  background-color: white;
  z-index:2;
}

.circle-container {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 50px;
  left: -140px;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%
}

