@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* FONTS */

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/roboto-slab-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/roboto-slab-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-slab-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-slab-v12-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-500 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/roboto-slab-v12-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/roboto-slab-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-slab-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-slab-v12-latin-500.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-600 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/roboto-slab-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/roboto-slab-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-slab-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-slab-v12-latin-600.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/roboto-slab-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/roboto-slab-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-slab-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-slab-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-slab-v12-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* amaranth-regular - latin */
@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/amaranth-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/amaranth-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/amaranth-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/amaranth-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/amaranth-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/amaranth-v11-latin-regular.svg#Amaranth') format('svg'); /* Legacy iOS */
}
/* amaranth-700 - latin */
@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/amaranth-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/amaranth-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/amaranth-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/amaranth-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/amaranth-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/amaranth-v11-latin-700.svg#Amaranth') format('svg'); /* Legacy iOS */
}



body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 992px) {
  #section {
    height: min(100vh, 1280px);
  }
}

@media only screen and (max-width: 768px) {
  #section {
    min-height: min(100vh, 1280px);
  }
}

.theme-picker-position {
  top: 24px;
  right: 24px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.issue-item-icon {
  top: 16px;
  left: -125px;
}

.hollow-square-container {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 100px;
  right: -110px;
  transform: rotate(45deg);
}
